<% task = task_node[:task] %>
<% depth = task_node[:depth] %>

<div class="task-wrapper" data-task-id="<%= task.id %>" data-flip-item>
  <div
    class="<%= depth == 0 ? 'task-item' : 'subtask-item' %>"
    data-task-id="<%= task.id %>"
    data-parent-id="<%= task.parent_id %>"
    data-status="<%= task.status %>"
    data-reordered-at="<%= task.reordered_at.to_i %>"
    data-lock-version="<%= task.lock_version %>"
  >
    <div class="task-status-container">
      <button
        class="task-status-button"
        data-action="click->job#showTaskPopover"
        aria-label="Task status: <%= task.status.humanize %>"
      >
        <span><%= task.status_emoji %></span>
      </button>
    </div>
    
    <div class="<%= depth == 0 ? 'task-content' : 'subtask-content' %>">
      <div
        class="<%= depth == 0 ? 'task-title' : 'subtask-title' %>"
        contenteditable="true"
        data-task-id="<%= task.id %>"
        data-action="blur->job#updateTaskTitle keydown.enter->job#handleTaskTitleEnter click->job#handleTaskClick"
        data-job-target="task"
      ><%= task.title %></div>
      
      <% if task.formatted_time_in_progress.present? %>
        <span class="task-timer" data-job-target="taskTimer"><%= task.formatted_time_in_progress %></span>
      <% end %>
    </div>
  </div>
  
  <% if task_node[:subtasks].any? %>
    <div class="subtasks subtasks-container">
      <% task_node[:subtasks].each do |subtask_node| %>
        <%= render 'tasks/task_item', task_node: subtask_node, job: job %>
      <% end %>
    </div>
  <% end %>
</div>